PORT=3000
NEXT_PUBLIC_BACKEND_URL=http://localhost:4000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=rikub_user
DB_PASSWORD=rikub_pass
DB_NAME=rikub_aiwise

BACKEND_PORT=4000
FRONTEND_URL=http://localhost:4000
JWT_SECRET=supersecret
JWT_EXPIRY_MINUTES=1800
REFRESH_TOKEN_EXPIRED=168h

MQTT_HOST=mosquitto
MQTT_PORT=1883